body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #9caedc;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ushape {
  width: 100%;
  height: 300px;
  background-color: #cbd6e8;
  position: relative;
}

/*only apply kat index*/
.buttonsindex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/*s apply kat both index and login*/
.btnindex {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  transition: 1.5s;
}

.btnindex:hover {
  background-color: #cbd6e8;
  color: white;
}
/*e apply kat both index and login*/

/*only apply kat login*/
#backtohomepage {
  font-size: 12px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #555;
}
