body {
  margin: 0;
  height: 100vh;
  background-color: #9caedc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*S Part Index*/
.Ushape {
  width: 100%;
  height: 100%;
  background-color: #cbd6e8;
  clip-path: ellipse(65% 55% at 50% 15%);
  position: relative;
}

.buttonsindex {
  position: absolute;
  bottom: 50px;
  gap: 20px;
  padding-bottom: 5%;
}

.btnindex { /*ni skali login*/
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  transition: 1.5s;
}

.btnindex:hover { /*ni skali login*/
  background-color: #cbd6e8;
  color: white;
}
/*E Part Index*/


/*S Part Log In*/
.Bshape {
  width: 100%;
  height: 100%;
  background-color: #cbd6e8;
  clip-path: ellipse(50% 90% at 20% 25%);
  position: relative;
}

.logo2 {
  width: auto;
  margin-right: 40%;
}

.kotaklogin {
  position: absolute;
  margin-left: 60%;
}

#backtohomepage {
  font-size: 12px;
}
/*E Part Log In*/
